/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0A0A0A;
    color: white;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #121212;
}

.logo img {
    width: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: cyan;
}

/* Sections */
main {
    padding: 20px;
}

h2 {
    color: cyan;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #121212;
    margin-top: 30px;
}

footer a {
    color: cyan;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: white;
}
